.StyledIndicatorList{
    font-size: 0.75em;
    line-height: 1;
    opacity: 0.4;
    text-align: right;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.25em;
    min-height: 1em;
}
.StyledExpression{
    margin-left: auto;
}

.StyleScreen{
    font-size: 2.5em;
    min-height: 1.4em;
    display: flex;
    align-items: center;
    justify-content: flex-end;  
    overflow: hidden;
}

.StyledDisplay{
    background-color: #393939;
    color: #fff;
    padding: 1.5em 1em;
}